body {
    font-family: 'Kanit', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #4d78a569;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(173, 169, 169, 0.024);
    max-width: 500px;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

#status-message {
    color: #ff9800;
}

#confirmation-message h2 {
    color: #101110;
}

#confirmation-message p {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    input, select {
        padding: 5px;
        margin-bottom: 15px;
    }
    button[type="submit"] {
        padding: 5px 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        width: 100%;
        text-align: left;
    }

    nav ul li a {
        display: block;
        padding: 0.5rem 1rem;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    input, select {
        padding: 15px;
        margin-bottom: 20px;
    }
    button[type="submit"] {
        padding: 15px 30px;
    }

    .navbar {
        padding: 1rem 3rem;
    }

    nav ul li {
        margin-right: 1.5rem;
    }
}