{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Request Confirmation</title>
    <link rel="stylesheet" href="{% static 'prompt-page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="waiting-message">
            <h2>Please wait...</h2>
            <p>Your request is under review. Do not close this page.</p>
            <button id="refresh-button">Refresh Status</button>
        </div>
        <div id="status-message" style="display: none;">
            <p id="status-text">Not confirmed yet, please hold on while admin confirms.</p>
        </div>
        <div id="confirmation-message" style="display: none;">
            <h2>LOGIN DETAILS</h2>
            <H4>Your credentials are seen only when admin approves</H4>
            <p>Your username is: <span id="username"></span></p>
            <p>Your password is: <span id="password"></span></p>
            <button id="login-button">PROCEED TO LOGIN</button>
        </div>
    </div>

    <script>
       $(document).ready(function() {
            function checkStatus() {
                $.ajax({
                    url: '{% url "check_request_status" %}',
                    method: 'GET',
                    success: function(data) {
                        if (data.request_confirmed) {
                            $('#waiting-message').hide();
                            $('#status-message').hide();
                            $('#username').text(data.username);
                            $('#password').text(data.password);
                            $('#confirmation-message').show();
                        } else {
                            $('#waiting-message').hide();
                            $('#confirmation-message').hide();
                            $('#status-message').show();
                        }
                    }
                });
            }

            // Manual refresh button action
            $('#refresh-button').on('click', function() {
                checkStatus();
            });

            // Login button action
            $('#login-button').on('click', function() {
                window.location.href = '{% url "login" %}';
            });
       });
    </script>
</body>
</html>